@font-face {
  font-family: 'Morage';
  src: url('../fuentes/AnyConv.com__Morage\ DEMO.woff') format('woff'),
    url('../fuentes/AnyConv.com__Morage\ DEMO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Morage';
  margin: 0;
  color: #1948cb;
}
.paginaInicio,
.paginaFinal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../image/basic.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.paginaFinal {
  display: none;
}

.rebote {
  width: 300px;
  animation: rebote 2s ease infinite;
  height: auto;
}
@keyframes rebote {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.corazon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.instruciones {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.btn-empezar {
  width: 200px;
  padding: 40px 30px;
  border-radius: 40%;
  background-color: #58e9e6;
  font-family: 'Morage';
  font-size: 30px;
  color: #4873ec;
}
.btn-reempezar {
  font-family: 'Morage';
  width: 200px;
  padding: 40px 30px;
  border-radius: 40%;
  background-color: #58e9e6;
  font-size: 30px;
  color: #4873ec;
  border-radius: 40%;
}
.puntaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorFinal {
  border: 1px solid black;
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
}
.paginaGame {
  background-image: url('../image/basic.png');
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}
.carretera {
  width: 100vw;
  height: 100vh;
  background-image: url('../image/fondo.png');
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-family: 'Morage';
  font-size: 7em;
  font-weight: 300;
  margin: 10px 0 0;
}
.text {
  color: #ea6384;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #4873ec, 0 2px 0 #4269da, 0 3px 0 #3c5fc9,
    0 4px 0 #3655b7, 0 5px 0 #304ca6, 0 6px 0 #2a4294, 0 7px 0 #243882,
    0 8px 0 #1f2e71, 0 9px 0 #19245f, 0 10px 0 #0d103c, 0 11px 0 #07062a,
    0 12px 0 #030319, 0 13px 0 #010109, 0 14px 0 #1e0335, 0 15px 0 #1b022c,
    0 22px 30px #000000;
}
.input input {
  padding: 20px;
  border-radius: 25px;
}
.input label {
  font-size: 25px;
}
#playSong {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 15px 25px;
  background-color: #fdf28d;
  color: #679396;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.puntos {
  background-color: #1948cb;
  color: white;
  padding: 20px;
  z-index: 1;
}
