@font-face {
  font-family: 'Morage';
  src: url('../fuentes/AnyConv.com__Morage\ DEMO.woff') format('woff'),
    url('../fuentes/AnyConv.com__Morage\ DEMO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Nerko One';
  margin: 0;
  color: #1948cb;
}
.paginaInicio,
.paginaFinal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../image/basic.png');
  background-size: cover;
  background-repeat: no-repeat;
  gap: 15px;
  width: 100vw;
  height: 100%;
  position: relative;
}
.paginaFinal {
  display: none;
}

.rebote {
  width: 250px;
  animation: rebote 2s ease infinite;
  height: auto;
}
.rebote:hover {
  animation: rebote 2s ease infinite, giro-rapido 0.5s linear infinite;
}
@keyframes rebote {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes giro-rapido {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.corazon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.instruciones {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.btn-empezar {
  width: 200px;
  padding: 20px;
  border-radius: 40%;
  background-color: #58e9e6;
  font-family: 'Morage';
  font-size: 30px;
  color: #4873ec;
  border: 5px solid #fdf28d;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.btn-reempezar {
  font-family: 'Morage';
  width: 200px;
  padding: 20px;
  border-radius: 40%;
  background-color: #58e9e6;
  font-size: 30px;
  color: #4873ec;
  border-radius: 40%;
  border: 5px solid #fdf28d;
  transition: all 0.3s ease;
}
.btn-empezar:hover,
.btn-reempezar:hover,
#playSong:hover {
  background-color: #fdf28d;
  transform: scale(1.05);
}

.puntaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorFinal {
  border: 5px solid #fdf28d;
  padding: 15px 50px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #a6bbd09a;
  height: auto;
  font-size: 20px;
}
.paginaGame {
  background-image: url('../image/basic.png');
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}
.carretera {
  width: 100vw;
  height: 100vh;
  background-image: url('../image/fondo1.png');
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
h1 {
  font-family: 'Morage';
  font-size: 7em;
  font-weight: 250;
  margin: 10px 0 0;
}
.text {
  color: #ea6385;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #4873ec, 0 2px 0 #4269da, 0 3px 0 #3c5fc9,
    0 4px 0 #3655b7, 0 5px 0 #304ca6, 0 6px 0 #2a4294, 0 7px 0 #243882,
    0 8px 0 #1f2e71, 0 9px 0 #19245f, 0 10px 0 #0d103c, 0 11px 0 #07062a,
    0 12px 0 #030319, 0 13px 0 #010109, 0 14px 0 #1e0335, 0 15px 0 #1b022c,
    0 22px 30px #000000;
}
.input input {
  padding: 10px;
  border-radius: 25px;
  border: 5px solid #fdf28d;
  font-family: 'Nerko One';
  font-size: 20px;
  width: 90px;
  background-color: #a6bbd0;
  color: #1948cb;
}
.input label {
  font-size: 25px;
}
#playSong {
  position: fixed;
  top: 20px;
  left: 90%;
  font-size: 16px;
  padding: 10px;
  border-radius: 25px;
  border: 5px solid #fdf28d;
  font-family: 'Nerko One';
  font-size: 20px;
  width: 90px;
  background-color: #a6bbd0;
  color: #1948cb;
  z-index: 1;
  transition: all 0.3s ease;
}
.puntos {
  background-color: #5f77b9;
  border-radius: 25px;
  color: white;
  padding: 20px;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 130px;
  font-size: 20px;
}
.imagenaumenta {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
}
.vidas {
  max-width: 20px;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 15px;
}
.vidas img {
  max-width: 50px;
  height: auto;
}
.immageEnd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  border-radius: 67%;
  background-color: #a6bbd09a;
  border: 5px solid #fdf28d;
}
p {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-size: 50px;
}
.instruciones img {
  width: 100px;
  height: auto;
}
.teclado {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mySong {
  padding: 10px;
  border-radius: 25px;
  border: 5px solid #fdf28d;
  font-family: 'Nerko One';
  font-size: 20px;
  width: 90px;
  background-color: #a6bbd0;
  color: #1948cb;
}
.instruciones {
  background-color: #a6bbd0d8;
}

.patinadoraLoca {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: -150px;
  z-index: 1;
  opacity: 0.8;
  animation: moveRandom 5s infinite;
}

@keyframes moveRandom {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(calc(100vw - 50px), -150px);
  }
  50% {
    transform: translate(calc(100vw - 500px), calc(100vh + 50px));
  }
  75% {
    transform: translate(150, calc(100vh - 50px));
  }
  100% {
    transform: translate(0, 0);
  }
}
