@font-face {
  font-family: 'Morage';
  src: url('../fuentes/AnyConv.com__Morage\ DEMO.woff') format('woff'),
    url('../fuentes/AnyConv.com__Morage\ DEMO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Morage';
  margin: 0;
  color: #1948cb;
}
.paginaInicio,
.paginaFinal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../image/basic.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.paginaFinal {
  display: none;
}

.rebote {
  width: 300px;
  animation: rebote 2s ease infinite;
  height: auto;
}
@keyframes rebote {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.corazon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.instruciones {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
}
.btn-empezar {
  width: 200px;
  padding: 40px 30px;
  border-radius: 40%;
  background-color: #58e9e6;
  font-family: 'Morage';
  font-size: 30px;
  color: #4873ec;
}
.btn-reempezar {
  font-family: 'Morage';
  width: 200px;
  padding: 40px 30px;
  border-radius: 40%;
  background-color: #58e9e6;
  font-size: 30px;
  color: #4873ec;
  border-radius: 40%;
}
.puntaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedorFinal {
  border: 1px solid black;
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
}
.paginaGame {
  background-image: url('../image/basic.png');
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}
.carretera {
  width: 100vw;
  height: 100vh;
  background-image: url('../image/fondoProvisional.png');
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-family: 'Morage';
  font-size: 7em;

  font-weight: 300;
}
.text {
  color: #ac2abd;

  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #49127c, 0 2px 0 #591283, 0 3px 0 #5d0f9c,
    0 4px 0 #630caa, 0 5px 0 #480b8d, 0 6px 0 #630e9c, 0 7px 0 #370863,
    0 8px 0 #2d0658, 0 9px 0 #310761, 0 10px 0 #2a0658, 0 11px 0 #2c055f,
    0 12px 0 #2f054b, 0 13px 0 #230438, 0 14px 0 #1e0335, 0 15px 0 #1b022c,
    0 22px 30px rgba(13, 1, 24, 0.9);
}
